<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center mt-5 mb-5"><h1>UZIYA</h1></div>

    <div class="col-md-8 offset-2">
      <div class="mb-lg-5 text-center"><h2>{{ 'forgot.password.title' | translate }}</h2></div>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                 placeholder="{{ 'register.auth.form.email.label' | translate }}">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{ 'register.auth.form.email.errors.required' | translate }}</div>
            <div *ngIf="f.email.errors.email">{{ 'register.auth.form.email.errors.invalid' | translate }}</div>
            <div *ngIf="f.email.errors.apiError">
              {{ 'register.auth.form.email.errors.userNotExist' | translate }}
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-primary" id="btn-submit-forgot-user" [disabled]="forgotPasswordForm.invalid"
                  type="submit">{{ 'forgot.password.submit' | translate }}</button>
        </div>
        <div class="mt-5">
          <p>
            {{ 'forgot.password.message' | translate }}
            <a routerLink="/auth/signup">{{ 'forgot.password.link' | translate }}</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
