<div class="row" id="bloc-signup">
  <div class="col-lg-4 col-sm-9" id="bloc-signup_form">
    <h2>Créer un compte</h2>
    <hr>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Qui êtes-vous?</label><br>
        <div class="radio-inline">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="group" id="inlineRadio1" value="t">
            <label class="form-check-label" for="inlineRadio1">Je veux voir des films</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="group" id="inlineRadio2" value="g">
            <label class="form-check-label" for="inlineRadio2">Je veux proposer des projets</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname"
               [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
               class="form-control" formControlName="firstname">
        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.firstname.errors.required">FirstName is required</div>
          <div *ngIf="f.firstname.errors.minLength">the minimum word count for the firstName is {{minLengthFirstName}}</div>
          <div *ngIf="f.firstname.getError('apiError').length > 0">
            <ul class="list-inline">
              <li *ngFor="let errorMessage of f.firstname.getError('apiError')">
                {{ errorMessage}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" id="lastname"
               [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
               class="form-control" formControlName="lastname">
      </div>

      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="email"
               id="email"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
               class="form-control"
               formControlName="email">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email invalid</div>
          <div *ngIf="f.email.getError('apiError').length > 0">
            <ul class="list-inline">
              <li *ngFor="let errorMessage of f.email.getError('apiError')">
                {{ errorMessage}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
               formControlName="password">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minLength">the minimum word count for the password is {{minLengthPassword}}</div>
          <div *ngIf="f.password.errors.pattern">Password Pattern invalid</div>
          <div *ngIf="f.password.getError('apiError').length > 0">
            <ul class="list-inline">
              <li *ngFor="let errorMessage of f.password.getError('apiError')">
                {{ errorMessage}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="form_password_confirmation">
          Confirmation du mot de passe
        </label>
        <input formControlName="confirmation"
               id="form_password_confirmation"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.confirmation.errors }"
               type="password">
        <div *ngIf="submitted && f.confirmation.errors" class="invalid-feedback">
          <div *ngIf="f.confirmation.errors.required">Password is required</div>
          <div *ngIf="f.confirmation.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
      <button class="btn btn-primary" id="btn-submit-save-user"
              type="submit">Créer mon compte</button>
      <div>Vous avez un compte? <a routerLink="/auth/login">Connectez-vous.</a></div>

    </form>
  </div>
  <div class="col-lg-8 col-sm-12" id="bloc-signup_infos">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide" width="80%">
        <div class="carousel-caption">
          <h3>Partager vos projets vidéo</h3>
          <p><b>Uziya</b> est une plateforme de partage de films indépendants, amateurs ou encore web serie.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide" width="80%">
        <div class="carousel-caption">
          <h3>Notre Objectif</h3>
          <p>
            Est d'aider les amateurs et/ou professionnels du secteur de l'audio-visuel
            de présenter à notre communauté leurs projets.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide" width="80%">
        <div class="carousel-caption">
          <h3>Objectif secondaire</h3>
          <p>
            Permettre aux artistes d'avoir une meilleure visibilité et un meilleur retour de
            la communauté sur leur travaille.
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
