<div class="row">

  <div class="container">

    <section>
      <h1>{{ this.user.last_name }} {{ this.user.first_name }}</h1>
    </section>

    <div class="row">
      <ul>
        <li>{{ 'client.user.lastname' | translate }}: {{ this.user.first_name }}</li>
        <li>{{ 'client.user.firstname' | translate }}: {{ this.user.last_name }}</li>
        <li>{{ 'client.user.email' | translate }} : {{ this.user.email }}</li>
        <li>{{ 'client.user.gender' | translate }} : {{ this.user.gender }}</li>
        <li>{{ 'client.user.choicetitle' | translate }} : {{ this.user.groups[0]?.name }}</li>
        <li>{{ 'client.user.created' | translate }} : {{ this.user.date_joined | date:'medium' }}</li>
      </ul>
    </div>

    <div class="row">
      <a class="nav-link" routerLink="profile" tabindex="-1">
        {{'client.user.btnUpdateProfile' | translate}}
      </a>
    </div>

  </div>

</div>
