<div class="row" id="bloc-login">
  <div class="col-lg-3 col-sm-9" id="bloc-login_form">
    <h2>{{ 'login.title' | translate }}</h2>
    <hr>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email"
               placeholder="{{ 'login.form.email.placeholder' | translate }}"
               class="form-control form-control-sm"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
               formControlName="email">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">{{ 'login.form.email.errors.required' | translate }}</div>
          <div *ngIf="f.email.errors.email">{{ 'login.form.email.errors.invalid' | translate }}</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password"
               placeholder="{{ 'login.form.password.placeholder' | translate }}"
               class="form-control form-control-sm"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
               formControlName="password">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">{{ 'login.form.password.errors.required' | translate }}</div>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" id="btn-submit-save-user"
                type="submit">{{ 'login.form.submit' | translate }}</button>
      </div>
      <div id="group-link">
        <ul class="list-inline">
          <li class="list-inline-item"><a routerLink="/forgot-password">{{ 'login.forgotpassword' | translate }}</a></li>
          <li class="list-inline-item"><a routerLink="/auth/signup">{{ 'login.createaccount' | translate }}</a></li>
        </ul>
      </div>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>

  <div class="col-lg-9 col-sm-12" id="bloc-login_infos">
    <ngb-carousel *ngIf="images" class="d-none d-sm-block">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide" width="80%">
        <div class="carousel-caption">
          <h3>{{ 'login.infos.title' | translate }}</h3>
          <p><b>Uziya</b> est une plateforme de partage de films indépendants, amateurs ou encore web serie.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide" width="80%">
        <div class="carousel-caption">
          <h3>Notre Objectif</h3>
          <p>
            Est d'aider les amateurs et/ou professionnels du secteur de l'audio-visuel
            de présenter à notre communauté leurs projets.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide" width="80%">
        <div class="carousel-caption">
          <h3>Objectif secondaire</h3>
          <p>
            Permettre aux artistes d'avoir une meilleure visibilité et un meilleur retour de
            la communauté sur leur travaille.
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

