//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";

#bloc-login{
  h2{ color: white; }

  #bloc-login_infos{ padding-top: 5%; }
  #bloc-login_form{ padding-top: 15%; }

  .form-group{ margin-bottom: 30px; }

  #group-link{ padding-top: 20px; }

  .carousel{
    text-align: center;

    &-caption{
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

