<footer class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Contactez-nous</a></li>
          <li class="list-inline-item"><a href="#">A propos</a></li>
        </ul>
      </div>
      <div class="col-md-1 offset-lg-8">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a (click)="useLanguage('en')">En</a>
          </li>
          <li class="list-inline-item">
            <a (click)="useLanguage('fr')">Fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <p class="small text-center">© Uziya, 2019 - Tous droits réservés</p>
    </div>
  </div>
</footer>
