<div class="container-fluid">
  <div class="row text-center mt-5">
    <div class="col-md-12"><h1 class="text-center">Uziya</h1></div>

    <div class="col-md-12 mt-5" *ngIf="!success">
      <i class="fa fa-5x fa-exclamation-circle register-activation__content__icon" aria-hidden="true"></i>
      <h2 class="title title--main">
        {{ 'register.user.activate.notwork.title' | translate }}
      </h2>
      <p>
        {{ 'register.user.activate.notwork.message' | translate }}
      </p>
    </div>
    <div class="col-md-12 mt-5" *ngIf="success">
      <i class="fa fa-5x fa-check-circle register-activation__content__icon" aria-hidden="true"></i>
      <h2 class="title title--main">
        {{ 'register.user.activate.work.title' | translate }}
      </h2>
      <p>
        {{ 'register.user.activate.work.message' | translate }}
      </p>
    </div>
    <div class="col-md-12 text-center">
      <a routerLink="/auth/login">
        {{ 'register.user.activate.link.login' | translate }}
      </a>
    </div>
  </div>
</div>

