<app-header-page titlePage="{{ 'admin.menuLeft.movies' | translate }}"
                 [breadcrumb]="breadcrumb" [buttonsEnd]="buttonsEnd"></app-header-page>

<div class="container video-details-group">
  <section class="video-details-group_titles">
    <h1 class="video-details-group_titles_h1">{{video?.title}}</h1>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">{{ 'admin.movies.details.watchMovieLink' | translate }}</a></li>
      <li class="list-inline-item">
        <a [routerLink]="['/video/update', video?.id]" class="btn btn-link">
          {{ 'admin.movies.details.updateLink' | translate }}
        </a>
      </li>
      <li class="list-inline-item">
        <a (click)="active_modal(content, video)" class="btn btn-link">
          {{ 'admin.movies.details.deleteLink' | translate }}
        </a>
      </li>
    </ul>
  </section>

  <div *ngIf="video" class="video-details-group_infos">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered video-details-group_infos_table">
            <tr>
              <td class="col-title">{{ 'admin.movies.tableTitle' | translate }}</td>
              <td>{{ video.title ? video.title : 'no title' }}</td>
              <td class="col-title">{{ 'admin.movies.tableGenres' | translate }}</td>
            </tr>
            <tr>
              <td class="col-title">{{ 'admin.movies.tableDuration' | translate }}</td>
              <td>{{ (video.duration / 60).toFixed(2) }}</td>
              <td rowspan="5">
                <ul class="list-inline">
                  <li *ngFor="let genre of video.genres" class="list-inline-item">
                    {{genre.label}}
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="col-title">{{ 'admin.movies.details.tableSize' | translate }}</td>
              <td>{{ video.size }}</td>
            </tr>
            <tr>
              <td class="col-title">{{ 'admin.movies.tableActive' | translate }}</td>
              <td class="text-center"><input type="checkbox" [checked]="video.is_active" disabled></td>
            </tr>
            <tr>
              <td class="col-title">{{ 'admin.movies.details.tableCreate' | translate }}</td>
              <td>{{ video.is_created | date }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-12">
        <h3>{{ 'admin.movies.details.description' | translate }}</h3>
        <div>
          {{ video.description }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Supprimer {{video?.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir supprimer cette video?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="deleteVideo()">Supprimer</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Fermer</button>
  </div>
</ng-template>
