<div class="row">
<!--  <div class="col-md-12 pl-4 group-videos-infos" [@animVideoInfos]="isShowVideoInfos ? 'openVideoInfos' : 'closedVideoInfos'">-->
  <div class="col-md-12 pl-4 group-videos-infos"
       [ngStyle]="{'background': 'linear-gradient(to left, rgba(255,0,0,0), rgba(0,0,0,1)) repeat-x, ' +
        'url('+ video.poster.hostPathFile +') no-repeat, black'}">
    <div class="group-videos-infos_item group-videos-infos_header float-left">
      <div class="pr-lg-5 mb-lg-5">
        <button type="button" class="font-size-5 close" aria-label="Close" (click)="hideVideoInfos($event)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="mb-lg-5"><a class="btn btn-primary" routerLink="video/player/{{video?.id}}">Play</a></div>
      <div>
        <ul class="list-inline">
          <li><a class="active cursor-pointer" [class.active]="!isShowVideoMenu" (click)="activeVideoMenu()">Presentation</a></li>
          <li><a class="cursor-pointer" [class.active]="isShowVideoMenu" (click)="activeVideoMenu()">Details</a></li>
        </ul>
      </div>
    </div>
    <div class="group-videos-infos_item group-videos-infos_body pt-lg-5">
      <div class="row"><h2>{{video?.title}}</h2></div>
      <div class="presentation" *ngIf="!isShowVideoMenu">
        <div class="group-videos-infos_body_infos">
          <div>
            <ul class="list-inline">
              <li class="list-inline-item">{{video?.duration}}</li>
            </ul>
          </div>
          <div>

          </div>
          <div class="mb-3">
            <h3>Description</h3>
            <div>
              {{video?.description}}
            </div>
          </div>
          <div>
            <ul class="list-inline">
              <li class="list-inline-item badge badge-primary" *ngFor="let genre of video?.genres">{{genre.label}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="details" *ngIf="isShowVideoMenu">
        <div class="row">
          <div class="col-md-2">
            <ul>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
              <li>blablabla</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
