<div class="container-fluid">
  <div class="row">
    <h1>{{ 'client.profile.updateaccount' | translate }}</h1>
    <hr>
  </div>

  <div class="row">
    <div class="col-md-8">
      <form [formGroup]="updateUserForm" (ngSubmit)="onSubmitUpdateUser()">
        <section>
          <h3>{{ 'client.profile.updateaprofile' | translate }}</h3>
        </section>

        <div class="form-group">
          <label for="lastname">{{ 'client.profile.lastname' | translate }}</label>
          <input type="text" id="lastname" class="form-control" formControlName="lastname"
                 [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
        </div>

        <div class="form-group">
          <label for="firstname">{{ 'client.profile.firstname' | translate }}</label>
          <input type="text" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
                 id="firstname" class="form-control" formControlName="firstname">
          <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">{{ 'client.profile.firstnameRequired' | translate }}</div>
            <div *ngIf="f.firstname.getError('apiError')">
              <ul class="list-inline">
                <li *ngFor="let errorMessage of f.firstname.getError('apiError')">
                  {{ errorMessage}}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">{{ 'client.profile.email' | translate }}</label>
          <input type="text" id="email" class="form-control" formControlName="email"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{ 'profile.client.emailRequired' | translate }}</div>
            <div *ngIf="f.email.errors.email">{{ 'profile.client.emailInvalid' | translate }}</div>
            <div *ngIf="f.email.getError('apiError')">
              <ul class="list-inline">
                <li *ngFor="let errorMessage of f.email.getError('apiError')">
                  {{ errorMessage}}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>{{ 'client.profile.sexe' | translate }}</label><br>
          <div class="radio-inline">
            <label><input type="radio" value="M" formControlName="gender"> {{ 'client.profile.man' | translate }}</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" value="F" formControlName="gender"> {{ 'client.profile.woman' | translate }}</label>
          </div>
          <div class="text-justify text-danger"
               *ngFor="let errorMessage of updateUserForm.controls['gender'].getError('apiError')">
            {{ errorMessage}}
          </div>
        </div>
        <button class="btn btn-primary" type="submit">{{ 'client.profile.btnUpdate' | translate }}</button>
      </form>
    </div>

    <div class="col-md-4">
      <section>
        <h3>{{ 'client.profile.updatepassword' | translate }}</h3>
      </section>
      <form  [formGroup]="updatePwdForm" (ngSubmit)="onSubmitPwdUser()">
        <div class="form-group">
          <label for="apassword">{{ 'client.profile.currentPassword' | translate }}</label>
          <input type="password" id="apassword" class="form-control" formControlName="apassword"
                 [ngClass]="{ 'is-invalid': submittedPwd && fP.password.errors }">
          <div *ngIf="submittedPwd && fP.apassword.errors" class="invalid-feedback">
            <div *ngIf="fP.apassword.errors.required">
              {{ 'client.profile.passwordRequired' | translate }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">{{ 'client.profile.newPassword' | translate }}</label>
          <input type="password" id="password" class="form-control" formControlName="password"
                 [ngClass]="{ 'is-invalid': submittedPwd && fP.password.errors }">
          <div *ngIf="submittedPwd && fP.password.errors" class="invalid-feedback">
            <div *ngIf="fP.password.errors.required">{{ 'client.profile.password-errors.mustmatch' | translate }}</div>
            <div *ngIf="fP.password.errors.pattern">
              <app-password-errors-list></app-password-errors-list>
            </div>
            <div *ngIf="fP.password.getError('apiError')">
              <ul class="list-inline">
                <li *ngFor="let errorMessage of fP.password.getError('apiError')">
                  {{ errorMessage}}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="form_password_confirmation">
            {{ 'client.profile.confirmPassword' | translate }}
          </label>
          <input formControlName="confirmation"
                 id="form_password_confirmation"
                 class="form-control"
                 type="password" [ngClass]="{ 'is-invalid': submittedPwd && fP.confirmation.errors }" >
          <div *ngIf="submittedPwd && fP.confirmation.errors" class="invalid-feedback">
            <div *ngIf="fP.confirmation.errors.mustMatch">
              {{ 'client.profile.password-errors.mustmatch' | translate }}
            </div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">{{ 'client.profile.btnUpdate' | translate }}</button>
      </form>
    </div>
  </div>
</div>
