<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center mt-5 mb-5">
      <h1>UZIYA</h1>
    </div>
      <hr>
    <div class="col-md-8 offset-2">
      <div class="mb-lg-5 text-center"><h2>{{ 'form.resetPassword.title' | translate }}</h2></div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let error of errors" class="alert alert-danger">
          {{ error }}
        </div>
        <div class="form-group">
          <input type="password" id="password"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                 placeholder="{{ 'form.resetPassword.newPassword.label' | translate }}"
                 class="form-control"
                 formControlName="password">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">{{ 'register.user.form.password.errors.required' | translate }}</div>
            <div *ngIf="f.password.errors.pattern">
              <ul>
                <li>{{ 'register.user.form.password.errors.pattern.message1' | translate }}</li>
                <li>{{ 'register.user.form.password.errors.pattern.message2' | translate }}</li>
                <li>{{ 'register.user.form.password.errors.pattern.message3' | translate }}</li>
                <li>{{ 'register.user.form.password.errors.pattern.message4' | translate }}</li>
                <li>{{ 'register.user.form.password.errors.pattern.message5' | translate }}</li>
              </ul>
            </div>
            <div *ngIf="f.password.getError('apiError')">
              <ul class="list-inline">
                <li *ngFor="let errorMessage of f.password.getError('apiError')">
                  {{ errorMessage}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input formControlName="confirmation" type="password"
                 [ngClass]="{ 'is-invalid': submitted && f.confirmation.errors }"
                 placeholder="{{ 'form.resetPassword.confirmPassword.label' | translate }}"
                 class="form-control" >
          <div *ngIf="submitted && f.confirmation.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.pattern">
              <ul>
                <li>{{ 'register.user.form.password.errors.pattern.message1' | translate }}</li>
                <li>{{ 'register.user.form.password.errors.pattern.message2' | translate }}</li>
                <li>{{ 'register.user.form.password.errors.pattern.message3' | translate }}</li>
                <li>{{ 'register.user.form.password.errors.pattern.message4' | translate }}</li>
                <li>{{ 'register.user.form.password.errors.pattern.message5' | translate }}</li>
              </ul>
            </div>
            <div *ngIf="f.password.getError('apiError')">
              <ul class="list-inline">
                <li *ngFor="let errorMessage of f.password.getError('apiError')">
                  {{ errorMessage}}
                </li>
              </ul>
            </div>
            <div *ngIf="f.confirmation.errors.mustMatch">
              {{ 'register.user.form.confirmation.errors.mustmatch' | translate }}
            </div>
          </div>
        </div>
        <div class="mt-5">
          <button class="btn btn-primary" id="btn-submit-reinitialiser-user"
                  type="submit">Réinitialiser</button>
        </div>
      </form>
    </div>
  </div>
</div>
