<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <input type="text" placeholder="{{ 'register-form.firstname' | translate }}"
           [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
           class="form-control" formControlName="firstname">
    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
      <div *ngIf="f.firstname.errors.required">{{ 'register-form.firstnameRequired' | translate }}</div>
      <div *ngIf="f.firstname.getError('apiError')">
        <ul class="list-inline">
          <li *ngFor="let errorMessage of f.firstname.getError('apiError')">
            {{ errorMessage }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="text" placeholder="{{ 'register-form.lastname' | translate }}"
           [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
           class="form-control" formControlName="lastname">
  </div>

  <div class="form-group">
    <input type="email" placeholder="{{ 'register-form.email' | translate }}"
           [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
           class="form-control"
           formControlName="email">
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">{{ 'register-form.emailRequired' | translate }}</div>
      <div *ngIf="f.email.errors.email">{{ 'register-form.emailInvalid' | translate }}</div>
      <div *ngIf="f.email.getError('apiError')">
        <ul class="list-inline">
          <li *ngFor="let errorMessage of f.email.getError('apiError')">
            {{ errorMessage}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="password" placeholder="{{ 'register-form.password' | translate }}"
           class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
           formControlName="password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">{{ 'register-form.passwordRequired' | translate }}</div>
      <div *ngIf="f.password.errors.pattern">
        <ul>
          <li>{{ 'register-form.password-errors.message1' | translate }}</li>
          <li>{{ 'register-form.password-errors.message2' | translate }}</li>
          <li>{{ 'register-form.password-errors.message3' | translate }}</li>
          <li>{{ 'register-form.password-errors.message4' | translate }}</li>
          <li>{{ 'register-form.password-errors.message5' | translate }}</li>
        </ul>
      </div>
      <div *ngIf="f.password.getError('apiError')">
        <ul class="list-inline">
          <li *ngFor="let errorMessage of f.password.getError('apiError')">
            {{ errorMessage}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group">
    <input formControlName="confirmation" placeholder="{{ 'register-form.confirmPassword' | translate }}"
           class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmation.errors }" type="password">
    <div *ngIf="submitted && f.confirmation.errors" class="invalid-feedback">
      <div *ngIf="f.confirmation.errors.mustMatch">
        {{ 'register-form.passwordmustmatch' | translate }}
      </div>
    </div>
  </div>

  <div class="mb-5 form-check">
    <input class="form-check-input" type="checkbox" value="1" id="checkTermsuse" formControlName="termsuse"
           [ngClass]="{ 'is-invalid': submitted && f.termsuse.errors }" >
    <label class="form-check-label" for="checkTermsuse">
      {{ 'register-form.termsuses' | translate }}
    </label>
    <div *ngIf="submitted && f.termsuse.errors" class="invalid-feedback">
      <div *ngIf="f.termsuse.errors.required">{{ 'register-form.termsuseRequired' | translate }}</div>
      <div *ngIf="f.termsuse.getError('apiError')">
        <ul class="list-inline">
          <li *ngFor="let errorMessage of f.termsuse.getError('apiError')">
            {{ errorMessage}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <button class="btn btn-primary mb-2" id="btn-submit-save-user"
          type="submit">{{ 'register-form.submit' | translate }}</button>
</form>

