<div class="title mb-2">
  <h3>{{ 'Modifier les informations générales' | translate }}</h3>
</div>
<div>
  <form [formGroup]="formUpdateVideo" (ngSubmit)="onSubmitVideoUpdate()">
    <div>
      <div class="form-group">
        <label for="title">{{ 'admin.videos.register.tilte' | translate }}</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" formControlName="active" value="1" id="video-active">
          <label for="video-active" class="form-check-label">{{'admin.videos.register.active' | translate}}</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" formControlName="active" value="0" id="video-deactive">
          <label for="video-deactive" class="form-check-label">{{'admin.videos.register.deactive' | translate}}</label>
        </div>
      </div>

      <div class="form-group" *ngIf="(genres$ | async) as genres">
        <label>Genre</label>
        <ul>
          <li *ngFor="let videoGenre of video.genres">
            <button type="button" class="close" aria-label="Close" (click)="active_modal(content, videoGenre)">
              <span aria-hidden="true">&times;</span>
            </button>
            {{videoGenre.label}}
          </li>
        </ul>
        <ng-select [searchable]="true" formControlName="genres" [multiple]="true">
          <ng-option [value]="genre" *ngFor="let genre of genres">{{genre.label}}</ng-option>
        </ng-select>
      </div>

      <div class="form-group">
        <label for="description">{{ 'admin.videos.register.description' | translate }}</label>
        <textarea name="" id="description" cols="30" rows="10" formControlName="description"
                  class="form-control" id="description"></textarea>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">{{ 'admin.videos.register.save' | translate }}</button>
  </form>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Êtes-vous sûr de vouloir supprimer le genre {{genreHasDeleted.label}}?
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="delGenre()">Supprimer</button>
    <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Fermer</button>
  </div>
</ng-template>
