<div class="row" id="bloc-signup">
  <div class="col-lg-4 col-sm-9" id="bloc-signup_form">
    <h2>{{ 'register.auth.title' | translate }}</h2>
    <hr>

    <app-register-form [group]="'producer'" (successForm)="onSubmitForm($event)"></app-register-form>
    <div>
      {{ 'auth.register.haveyouaccount' | translate }}
      <a routerLink="/auth">{{ 'auth.register.loginlink' | translate }}</a>
    </div>

  </div>
  <div class="col-lg-8 col-sm-12" id="bloc-signup_infos">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide" width="80%">
        <div class="carousel-caption">
          <h3>Partager vos projets vidéo</h3>
          <p><b>Uziya</b> est une plateforme de partage de films indépendants, amateurs ou encore web serie.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide" width="80%">
        <div class="carousel-caption">
          <h3>Notre Objectif</h3>
          <p>
            Est d'aider les amateurs et/ou professionnels du secteur de l'audio-visuel
            de présenter à notre communauté leurs projets.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide" width="80%">
        <div class="carousel-caption">
          <h3>Objectif secondaire</h3>
          <p>
            Permettre aux artistes d'avoir une meilleure visibilité et un meilleur retour de
            la communauté sur leur travaille.
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
