body {
  font-size: $text_size_global;
  color: $text_color_global;
  background-color: $body_bg;
}

[role="main"] {
  min-height: $body_min_height;
}

//global css title
h1, h2, h3{ color: white; }

//global css input
input[type="text"], input[type="email"], input[type="password"], input[type="text"]:focus,
input[type="email"]:focus, input[type="password"]:focus {
  background-color: $input_bg;
  border: 2px solid $body_bg;
  color: $text_color_global;
  border-radius: 0;
}
input[type="email"], input[type="password"], input[type="text"]{
  border-bottom: 2px solid $input_border_color;
}
input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus{
  box-shadow: none;
  border-bottom: 2px solid $input_active_border_color;
}
input:required + .help-text::before {
  content: '* Required';
}
input.is-invalid, input.is-invalid:focus{
  border: none;
  border-bottom: 2px solid $error_color;
}

//global css link
a{ color: $link_color_global; }
a:active{ color: $link_active_color_global; }
a:hover{ color: $link_hover_color_global; text-decoration: none; }
.cursor-pointer{cursor: pointer;}

