//global
$clr1: #1976D2;
$clr2: #2196F3;
$clr3: #03A9F4;
$clr4: #BBDEFB;

$clr5: #343a40;
$clr6: #757575;
$clr7: #BDBDBD;
$clr8: #ffff;

$error_color: red;
$body_bg: $clr5;
$body_bg_admin: $clr8;

$text_size_global: .9em;
$text_color_global: $clr8;
//$text_color_global: #eaeaea;

$link_color_global: $clr1;
$link_active_color_global: $clr3;
$link_hover_color_global: $clr4;

$input_bg: $clr5;
$input_border_color: $clr6;
$input_active_border_color: $clr2;
