//global
$clrBlue1: #1976D2;
$clrBlue2: #2196F3;
$clrBlue3: #03A9F4;
$clrBlue4: #BBDEFB;

$clrBlack1: #343a40;
$clrBlack2: #757575;
$clrBlack3: #BDBDBD;
$clrBlack4: #ffff;

$error_color: red;
$body_bg: $clrBlack1;
$body_bg_admin: $clrBlack4;

$text_size_global: .9em;
$text_color_global: $clrBlack3;

$link_color_global: $clrBlue1;
$link_active_color_global: $clrBlue3;
$link_hover_color_global: $clrBlue4;

$input_bg: $clrBlack1;
$input_border_color: $clrBlack2;
$input_active_border_color: $clrBlue2;

$body_min_height: 750px;
