//global
$color_princ: #007bff;

$body_bg: black;

$text_size_global: .9em;
$text_color_global: rgba(255, 255, 255, .5)!important;
//$text_color_global: #eaeaea;

$link_color_global: $color_princ;
$link_active_color_global: #36c2f7;
$link_hover_color_global: #36c2f7;

$input_bg: black;
$input_border_color: gray;
$input_active_border_color: #1e95fe;
